    *{
        margin: 0;
        box-sizing: border-box;
    }

    body{
        font-family: 'Inter', sans-serif;
    }

.parent-div{
    /* border: 3px solid black; */
    display: flex;
}

.left-div{
    padding: 20px;
    background: #D9D9D9;
    height: 400px;
    width: 50%;

}

.right-div{
    /* background: tomato; */
    background: url(./images/image1.jpg);
    background-size: cover;
    background-position: bottom left;
    height: 400px;
    width: 50%;
}

span{
    color: tomato;
}

.smart-line{
    background: #FF6347;
    height: 16px;
    width: 224px;
}

.header-logotext{
    margin-bottom: 20px;
}

.header-headingtext{
    margin-bottom: 20px;
}

.header-longtext{
    margin-bottom: 35px;
}

.link-holder{
    /* border: 3px solid black; */
    display: flex;
    justify-content: space-evenly;
    color: white;
    padding: 20px 0;

}

